$background: #2f3640;
$nav-background: #ffffff;
$text-main: #000000;
$text-hover: #707070;

/* Resume */
$text: #808080;
$resume-background: #ffffff;
$skills-background: #989da6;
$resume-text: #000000;
$resume-subtitles: #313c4e;
$experience-subtitle: #606060;
$resume-descriptions: #7c7c7c;
$resume-link-hover: #9a9a9a;
$link: #0000ff;
$link-hover: #0400d9;