$brackets-top: 38rem;

.bracket-pair {
    position: absolute;
    display: inline-flex;
    width: 31.5rem;
    justify-content: space-between;
}
.opening-bracket {
    border: .2rem solid $resume-text;
    border-right: none;
    width: 1rem;
}
.closing-bracket {
    border: .2rem solid $resume-text;
    border-left: none;
    width: 1rem;
}
    #brackets_1 {
        top: $brackets-top;
        div {
            height: 3.5rem;
        }
    }
    #brackets_2 {
        top: $brackets-top+11.7rem;
        div {
            height: 4.6rem;
        }
    }
    #brackets_3 {
        top: $brackets-top+33.2rem;
        div {
            height: 5.5rem;
        }
    }
    #brackets_4 {
        top: $brackets-top+51.4;
        div {
            height: 7rem;
        }
    }

@media screen and (max-width: 77rem) {
    .opening-bracket {
        display: none;
    }
    .closing-bracket {
        display: none;
    }
}