<footer>
    <div id="footer-top">
        <div>
            <h3>Contact</h3>
            <div class="footer-list">
                <a href="<!-- Google Maps Link -->" target="_blank">Your Location</a>
                <a href="mailto:<!-- Your Email -->">Your Email</a>
                <a href="sms:<!-- Your Phone Number -->">Your Phone Number</a>
            </div>
        </div>
        <div>
            <h3>Get your own Website</h3>
            <div class="footer-list">
                <p>Designed by <a id="barik-website" href="https://www.barikboley.com/" target="_blank">Barik Boley</a></p>
                <a href="mailto:barik.boley@gmail.com">barik.boley@gmail.com</a>
                <a href="sms:6026686436">(602) 668-6436</a>
            </div>
        </div>
        <div>
            <h3>Navigation</h3>
            <div class="footer-list">
                <a href="/">Homepage</a>
                <a href="/resume">Resume</a>
                <a href="/contact">Contact</a>
                <a href="/login">Login</a>
            </div>
        </div>
    </div>
    <div id="footer-bottom">
        <a href="https://github.com/<!-- Github Username -->"><img class="footer-logo" src="https://icon-library.com/images/github-icon-white/github-icon-white-6.jpg" alt="Github"></a>
        <a href="<!-- Linkedin Link -->"><img class="footer-logo" src="https://iconsplace.com/wp-content/uploads/_icons/ffffff/256/png/linkedin-icon-18-256.png" alt="Linkedin"></a>
        <a href="<!-- Instagram Link -->"><img class="footer-logo" src="https://www.edigitalagency.com.au/wp-content/uploads/new-instagram-logo-white-border-icon-png-large.png" alt="Instagram"></a>
    </div>
</footer>