<nav>
    <!-- Nav Logo and Title -->
    <div id="nav-left">
        <a href="/"><img src="https://blog.greendot.org/wp-content/uploads/sites/13/2021/09/placeholder-image.png" alt="Logo" id="nav-logo"></a>
        <a href="/" id="nav-name">Website Name</a>
    </div>
    <!-- Page Navigation -->
    <div id="nav-right">
        <a href="/">Homepage</a>
        <a href="/resume">Resume</a>
        <a href="/contact">Contact</a>
        <a href="/login">Login</a>
    </div>
    <!-- Drop Down Menu
    <button id="drop-down-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
</nav>
