#login-form-container {
    display: flex;
    background: $tertiary-color;
    margin: 0 auto;
    margin-top: 6rem;
    border-radius: 1.5rem;
    width: 30rem;
    padding: 2rem;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    p {
        margin: 0;
    }
    form {
        
    }
}