<%- include('../partials/head', {title: "Logged In" }) %>

<div id="logged-in-page">
    <%- include('../partials/navbar') %>

    <div>
        <p>You're logged in</p>
    </div>

    <%- include('../partials/footer') %>
</div>

<script src="../ensureAuthenticated.js"></script>