<%- include('../partials/head', {title: "Login"}) %>

<div id="login-page">
    <%- include('../partials/navbar') %>

    <div id="login-form-container">
        <form action="/login" method="post">
            <p>Email:</p>
            <input type="email" name="email" required>
            <p>Password:</p>
            <input type="password" name="password" required>
            <input type="submit" value="Login">
        </form>
        <a href="/register">Create a new Account</a>
    </div>

    <%- include('../partials/footer') %>
</div>