<%- include('../partials/head', {title: "Register" }) %>

<div id="register-page">
    <%- include('../partials/navbar') %>

    <div class="form-container">
        <h2>Website Name</h2>
        <img src="https://blog.greendot.org/wp-content/uploads/sites/13/2021/09/placeholder-image.png" alt="Logo">
        <div class="form-top">
            <form action="/login" method="post">
                <p>Display Name</p>
                <input id="register-name-input" type="text" name="display-name" required>
                <p>Email</p>
                <input id="register-email-input" type="email" name="email" required>
                <p>Password</p>
                <input id="register-password1-input" type="password" name="password_1" autocomplete="off" required>
                <p>Confirm Password</p>
                <input id="register-password2-input" type="password" name="password_2" autocomplete="off" required>
                <div><input type="submit" value="Register" id="login-btn"></div>
            </form>
        </div>
        <div><p>Already have an account? <a href="/login">Sign in</a></p></div>
    </div>

        <%- include('../partials/footer') %>
</div>

<script src='../../login/login.js'></script>