footer {
    background-color: $footer-background;
    position: fixed;
    bottom: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    h3 {
        color: $secondary-color;
    }
    p {
        color: $tertiary-color;
    }
    a {
        color: $tertiary-color;
        text-decoration: none;
        transition: color 0.2s ease;
        &:hover {
            color: $skills-background;
        }
    }
    .footer-logo {
        width: 2.5rem;
        height: 2.5rem;
    }
}

#footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3 {
        margin: 0;
        margin-bottom: .5rem;
    }
    p {
        margin: .2rem 0;
    }
    a {
        margin: .2rem 0;
        white-space:nowrap;
        width: auto;
    }
    #barik-website {
        // color: ;
    }
    .footer-list {
        display: flex;
        flex-direction: column;
    }
}
#footer-bottom {
    display: flex;
    justify-content: center;
    a {
        margin: 0 1rem;
    }
}

// Homepage
@media screen and (max-height: 990px) {
    #home-page {
        footer {
            position: relative;
            box-sizing: none;
            margin-top: 2rem;
        }
    }
}

// Resume Page
#resume-page {
    footer {
        position: relative;
        box-sizing: none;
    }
}

// Contact
@media screen and (max-height: 880px) {
    .contact-page {
        footer {
            position: relative;
            margin-top: 3rem;
            box-sizing: none;
        }
    }
}