.form-container {
    display: flex;
    background: $tertiary-color;
    margin: 0 auto;
    border-radius: 1.5rem;
    width: 30rem;
    padding: 2rem;
    box-sizing: border-box;
    flex-direction: column;
    * {
        font-size: 1.2rem;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
        margin: 0;
    }
    img {
        height: 4rem;
        width: auto;
        margin: 0 auto .5rem auto;
    }
    .form-top {
        display: flex;
        justify-content: center;
        p {
            margin: 0;
            text-align: center;
            margin-bottom: .1rem;
        }
        input {
            margin-bottom: 1rem;
            width: 15rem;
        }
    }
    form {
        div {
            display: flex;
            justify-content: center;
        }
    }
    #login-btn {
        width: 100%;
        background-color: $submit-btn;
        border: none;
        color: white;
        border-radius: .25rem;
        box-sizing: border-box;
        padding: .2rem;
        margin-top: 2rem;
        position: relative;
        bottom: 0;
        left: 0;
        transition: bottom 0.3s, left 0.3s, ease 0.3s;
        &:hover {
            cursor: pointer;
            bottom: .2rem;
            left: .2rem;
            box-shadow: -.2rem .2rem $text-main;
        }
    }
    a {
        text-decoration: none;
        color: $link;
        transition: color 0.3s ease;
        &:hover {
            color: $link-hover;
        }
    }
}

.form-container > div {
    display: flex;
    justify-content: center;
    p {
        margin: 0;
    }
}