nav {
    background-color: $nav-background;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
}
#nav-left {
    display: flex;
    flex-direction: row;
    align-items: center;
}
#nav-right {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    a {
        margin: 0 .3rem;
        font-size: 1.2rem;
        color: $text-main;
        text-decoration: none;
        &:hover {
            color: $text-hover;
        }
    }
}
#nav-logo {
    width: auto;
    height: 4rem;
}